:host {
  --font-family: 'Roboto', sans-serif;
  --link-text-color: #fff;
  --nav-bg-color: #333;
  --link-hover-text-color: #ff9800;
}

.navigation {
  font-family: var(--font-family);
  text-align: center;
  margin: 0 auto;
  max-width: 1440px;
  padding: 1.5rem 0;
  background-color: var(--nav-bg-color);
}

.nav-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list-item {
  display: inline;
  margin: 0 1.5rem;
}

.nav-list-item a {
  color: var(--link-text-color);           
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s, text-decoration 0.3s;
  &:hover {
    color: var(--link-hover-text-color);
  }
}

.nav-list-item a.active {
  color: var(--link-hover-text-color);
}