:host {
  --link-text-color: rgb(106, 106, 248);
}

mat-icon {
  color: gold;
  font-size: 24px;
}

.product-details {
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  min-height: calc(100vh - 72px);
  padding: 20px;
}

.product-details__container {
  display: flex;
  gap: 20px;
  max-width: 1200px;
}

.product-details-images-container {
  max-width: 700px;
  border-radius: 8px;
}

.product-details-images-container__image img {
  max-width: 700px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.modal-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  cursor: pointer;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.modal-content h2 {
  margin-bottom: 20px;
  text-decoration: underline;
}

.review {
  margin-bottom: 15px;
  width: 500px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.close-btn-container {
  display: flex;
  justify-content: end;
}

.close-button {
  margin-top: 20px;
}

.product-details__color {
  text-align: center;
}

.product-details__thumbnails {
  display: flex;
  justify-content: center;
  margin: 20px auto 0 auto;
  width: 60px;
}

.product-details__thumbnails img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  cursor: pointer;
  object-fit: cover;
}

.product-details__info {
  max-width: 600px;
}

.product-details__info h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.product-rating,
.product-rating-info {
  display: flex;
  align-items: center;
}

.product-rating {
  justify-content: space-between;
  margin-bottom: 20px;
}

.stars,
.stars span {
  display: flex;
}

.product-reviews {
  color: var(--link-text-color);
  margin-left: 5px;
  &:hover {
    text-decoration: underline;
  }
}

.product-reviews.disabled {
  color: grey;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

.product-id {
  color: #888888;
  font-size: 14px;
}


.product-description__info a{
  color: var(--link-text-color);
}

.product-price {
  margin-top: 20px;
}

.product-details__options {
  margin: 20px 0;
}

.product-details__options label {
  display: block;
  margin: 10px 0 5px;
}

.product-details__options select {
  width: 100%;
}


.product-qty {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.product-qty input {
  margin-top: 10px;
  width: 25%;
}

.product-details__buttons {
  margin-top: 20px;
}

.btn-primary {
  margin-right: 10px;
}

.btn-primary mat-icon {
  color: var(--light-text-color);
  margin-right: 8px;
}

.btn-secondary mat-icon {
  color: var(--primary-text-color);
  margin-right: 8px;
}