.form-group {
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  font-size: 16px;
  /* width: 100%; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus, textarea:focus {
  border-color: #007bff;
  outline: none;
}