<div class="form-group">
  @if (config.showLabel !== false) {
    <label [for]="config.id">
      {{ config.label }}

      @if (config.required) {
        <span>*</span>
      }
    </label>
  }

  @if (config.type !== 'textarea') {
    <input
      [type]="config.type || 'text'"
      [id]="config.id"
      [placeholder]="config.placeholder || ''"
      [required]="config.required"
      [class]="config.customClass"
      [value]="value"
      (input)="onInput($event)"
      (blur)="onTouched()"
    />
  } @else {
    <textarea
      [id]="config.id"
      [placeholder]="config.placeholder || ''"
      [required]="config.required"
      [class]="config.customClass"
      [value]="value"
      [rows]="config.rows"
      (input)="onInput($event)"
      (blur)="onTouched()"
    ></textarea>
  }
</div>