<div class="product-card" [ngStyle]="{ borderColor: discountColor }" (click)="onCardClick()">
  <div class="discount-badge" [ngStyle]="{ backgroundColor: discountColor }">
    {{ product.discount }}% OFF
  </div>
  <img class="product-image" [src]="product.imgUrl" alt="{{ product.name }}" />
  <div class="product-info">
    <h3 class="product-name">{{ product.name }}</h3>
    <p class="product-description">{{ product.description | limitCharacters: 35 }}</p>
    <p class="product-shop">{{ product.shop }}</p>
    <div class="product-size">
      <span *ngFor="let size of product.size">{{ size }}</span>
    </div>
    <p class="product-price">
      Price: <span [ngStyle]="{ color: discountColor }">{{ product.price | discountPrice: product.discount }}</span>
    </p>
  </div>
</div>