<div class="contact-us-container">
  <div class="contact-info">
    @for (info of contactInfo; track info.id) {
      <app-contact-info [info]="info" />
    }
  </div>
  <div class="form-container">
    <h2 class="form-container-title">Contact Us</h2>
    <form class="form">
      <app-input [config]="nameInputConfig" />
      <app-input [config]="emailInputConfig" />
      <app-input [config]="phoneInputConfig" />
      <app-input [config]="subjectInputConfig" />
      <app-input [config]="messageInputConfig" />
      
      <app-button [config]="submitButtonConfig" />
    </form>
  </div>
</div>