:host {
  --white-text-color: #fff;
  --label-text-color: #6b6b6b;
  --green-text-color: #5ea19b;
  --input-border-color: #cccccc;
  --input-bg-color: #EFEFEF;
  --button-bg-color: #1f1f1f;
  --input-border-color--focus: #1f1f1f;
}

.contact-us-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  min-height: calc(100vh - 72px);
}

.contact-info {
  color: var(--white-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  padding: 0 0 5rem 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), 
              url('../../assets/images/backgrounds/contact-us-bg-image.jpg') no-repeat center center;
  background-size: cover;
}

.form-container {
  position: relative;
  flex: 1;
  height: 100%;
  padding: 1rem;
}

.form-container-title {
  text-align: center;
  margin: 1rem 0;
  text-transform: uppercase;
}

.form {
  margin: 0 auto;
  max-width: 800px;
}

::ng-deep .form .form-group {
  margin-bottom: 30px;
}

::ng-deep .button-submit {
  position: absolute;
  right: 1rem;
  padding: 10px 30px;
}

@media (max-width: 768px) {

  .contact-us-container {
    flex-direction: column;
  }

  .form-container {
    order: -1;
  }

  .contact-info {
    align-items: center;
    padding: 2rem;
  }

  .contact-info-group {
    text-align: center;
    margin-top: 3rem;
  }
}